{% extends  'flatpages/default.html' %}

{% block title %}Ads{% endblock title %}

{% block content %}
    <br><br>
    {% if posters %}
        {% for poster in posters %}
            <a href="/poster/{{ poster.id }}" style="font-size: 20px;"><b>{{ poster.title }}</b></a><br>
            <span style="font-size: 12px;"><b>Автор:  {{ poster.author }} |
                Категория: {{ poster.category}}</b></span><br><br>
        {% endfor %}
    {% else %}
        <br><br>
        <h2>Публикаций нет!</h2>
    {% endif %}

    {% if user.is_authenticated %}
        <br><br><br>
        <a class="btn btn-secondary" href="{% url 'create_ad' %}" role="button">Добавить новое объявление</a>
    {% endif %}
{% endblock content %}
